*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Grey: #484848;
    --Yellow: #fff900;
    --Orange: #ff6c00;
    --DarkGrey: #262626;
    --GlitchBlue:#00b3ff;
    --Whiteish: rgb(190, 221, 231);
    --Poison: rgb(73, 240, 32);
    --DarkGreen:rgb(41, 112, 23);
    --DangerRed:red;
    --DeepRed:rgb(156, 22, 22);
}
@font-face {
    font-family: Light;
    src: url(/fonts/varino-normal-font/VarinonormalRegular-1GXaM.ttf);
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    color:var(--Grey);
    background-color:var(--DarkGrey);

    
}
.container {
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}
.letter{
    padding: .5rem;
    font-family: Light;

}
.ltr-1{
    animation: lighting 2s infinite;
}

.ltr-2{
    animation: lighting 2s 0.2s infinite;
}

.ltr-3{
    animation: lighting 2s 0.4s infinite;
}

.ltr-4{
    animation: lighting 2s 0.6s infinite;
}

.ltr-5{
    animation: lighting 2s 0.8s infinite;
}

.ltr-6{
    animation: lighting 2s 1s infinite; 
    /* animation: glitch 1s 0.5s infinite; */
}

.ltr-7{
    animation: lighting 2s 1.2s infinite;
}

.ltr-8{
    animation: lighting 2s 1.4s infinite;
}

@keyframes lighting{
    1%{
        color: var(--Yellow);
        text-shadow: 
        1px 1px 20px var(--Orange),
        2px 2px 40px var(--Orange),
        3px 3px 60px var(--Orange),
        4px 4px 80px var(--Orange),
        5px 5px 100px var(--Orange),
        6px 6px 120px var(--Orange),
        7px 7px 140px var(--Orange),
        8px 8px 160px var(--Orange);
    }
    
   
    90%{
        color: var(--Grey);
        text-shadow: 0px 0px 0px var(--Grey); 
    }
/*     95%{
        color: var(--DarkGrey);
        text-shadow: 0px 0px 0px var(--DarkGrey);
    }  */

}
@font-face {
    font-family: Cyber;
    src: url(/fonts/Cyberpunk/Cyberpunk.ttf);   
}

.letterG{
    padding: .5rem;
    font-family: Cyber;

}
.ltr-G1{
    animation: glitchsmooth 3s infinite;
}

.ltr-G2{
    animation: glitchsmooth 3s 0.2s infinite;
}

.ltr-G3{
    animation: glitch 1s 0.5s infinite;
}

.ltr-G4{
    animation: glitchsmooth 3s 0.6s infinite;
}

.ltr-G5{
    animation: glitchsmooth 3s 0.8s infinite;
}

.ltr-G6{
    animation: glitchsmooth 3s 1s infinite;
    
}

.ltr-G7{
    animation: glitchsmooth 3s 1.2s infinite;
}

.ltr-G8{
    animation: glitchsmooth 3s 1.4s infinite;
}


@keyframes glitchsmooth{
    0%{
        color: var(--Whiteish);
        text-shadow: 
        2px 2px 10px var(--GlitchBlue), 
        2px 2px 20px var(--GlitchBlue),
        2px 2px 30px var(--GlitchBlue),
        2px 2px 40px var(--GlitchBlue),
        2px 2px 50px var(--GlitchBlue),
        2px 2px 60px var(--GlitchBlue),
        2px 2px 70px var(--GlitchBlue),
        2px 2px 80px var(--GlitchBlue);
    }
    
    75%{
        color: var(--DarkGrey);
        text-shadow: 
        2px 2px 10px var(--DarkGrey),
        2px 2px 20px var(--DarkGrey),
        2px 2px 30px var(--DarkGrey),;
    }
     76%{
        color: var(--DarkGrey);
        text-shadow: 0px 0px 0px var(--DarkGrey); 
    }  

}

@keyframes glitch{
    1%,10%,19%,40%,31%,55%{
        color: var(--Whiteish);
        text-shadow: 
        2px 2px 10px var(--GlitchBlue),
        2px 2px 20px var(--GlitchBlue),
        2px 2px 30px var(--GlitchBlue),
        2px 2px 40px var(--GlitchBlue),
        2px 2px 50px var(--GlitchBlue),
        2px 2px 60px var(--GlitchBlue),
        2px 2px 70px var(--GlitchBlue),
        2px 2px 80px var(--GlitchBlue);
    }
    
   
   
    16%,31%,52%,70%{
        color: var(--DarkGrey);
        text-shadow: 0px 0px 0px var(--DarkGrey);
    } 
}

@font-face {
    font-family: Police;
    src: url(/fonts/police-cruiser-font/PoliceCruiser3DItalic-l6KV.ttf);
}
.letterP{
    font-family: Police;
    font-size: 100px;
    padding: .5rem;
    color: var(--DarkGrey);

}
.ltr-P1{
    animation: pulse 1s 0.66s infinite;
}

.ltr-P2{
    animation:pulse  1s 0.33s infinite;
}

.ltr-P3{
    animation: pulse  1s  infinite;
}

.ltr-P4{
    animation: pulse 1s  infinite;
}

.ltr-P5{
    animation: pulse 1s .33s infinite;
}

.ltr-P6{
    animation:pulse 1s .66s infinite; 
}



@keyframes pulse{
    0%{
        color: var(--DeepRed);
        text-shadow: 
        0px 0px 10px var(--DangerRed),
        0px 0px 20px var(--DangerRed),
        0px 0px 30px var(--DangerRed),
        0px 0px 40px var(--DangerRed),
        0px 0px 50px var(--DangerRed),
        0px 0px 60px var(--DangerRed),
        0px 0px 70px var(--DangerRed),
        0px 0px 80px var(--DangerRed);
    }
    25%{
        color: var(--Whiteish);
        text-shadow: 
        0px 0px 10px var(--GlitchBlue),
        0px 0px 20px var(--GlitchBlue),
        0px 0px 30px var(--GlitchBlue),
        0px 0px 40px var(--GlitchBlue),
        0px 0px 50px var(--GlitchBlue),
        0px 0px 60px var(--GlitchBlue),
        0px 0px 70px var(--GlitchBlue),
        0px 0px 80px var(--GlitchBlue);
    }
    50%{
        color: var(--Whiteish);
        text-shadow: 
        0px 0px 10px var(--DangerRed),
        0px 0px 20px var(--DangerRed),
        0px 0px 30px var(--DangerRed),
        0px 0px 40px var(--DangerRed),
        0px 0px 50px var(--DangerRed),
        0px 0px 60px var(--DangerRed),
        0px 0px 70px var(--DangerRed),
        0px 0px 80px var(--DangerRed);
    }
    75%{
        color: var(--Whiteish);
        text-shadow: 
        0px 0px 10px var(--GlitchBlue),
        0px 0px 20px var(--GlitchBlue),
        0px 0px 30px var(--GlitchBlue),
        0px 0px 40px var(--GlitchBlue),
        0px 0px 50px var(--GlitchBlue),
        0px 0px 60px var(--GlitchBlue),
        0px 0px 70px var(--GlitchBlue),
        0px 0px 80px var(--GlitchBlue);
    }
    
}
/* @keyframes nopulse{
    0%{
        color: var(--DeepRed);
        text-shadow: 
        0px 0px 10px var(--DangerRed),
        0px 0px 20px var(--DangerRed),
        0px 0px 30px var(--DangerRed),
        0px 0px 40px var(--DangerRed),
        0px 0px 50px var(--DangerRed),
        0px 0px 60px var(--DangerRed),
        0px 0px 70px var(--DangerRed),
        0px 0px 80px var(--DangerRed);
        
    }
    99%{
        color: var(--DarkGrey);
        text-shadow: 
        0px 0px 10px var(--DangerRed),
        0px 0px 20px var(--DangerRed),
        0px 0px 30px var(--DangerRed),
        0px 0px 40px var(--DangerRed),
        0px 0px 50px var(--DangerRed),
        0px 0px 60px var(--DangerRed),
        0px 0px 70px var(--DangerRed),
        0px 0px 80px var(--DangerRed);
    }
   

} */

